body {
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home{
    background-color: rgb(29, 29, 29);
    padding-bottom: 1cm;
    margin-left: -1cm;
    margin-right: -1cm;
    margin-top: -1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    height: 2.5cm;
    border-radius: 2.5cm;
}

.topmenu{
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration:none;
}

.topmenu:hover{
    color:white;
    font-weight: bolder;
    text-decoration: underline;
}

.topdiv{
    float:right;
    padding-right:1cm;
}

.profile{
    font-size: 25px;
    float: left;
    padding-left: 2cm;
    color: white;
}

.profile .contact{
    font-size: 15px;
    font-style:italic;
    display:flex;
    align-items: center;
    flex-direction: row;
    color: white;
    margin-top:0.25cm;
}

.contact img {
    width:25px;
    border-radius: 2cm;
    margin-right: 10px;
    float:left;
  }


  /*titles*/
  h2 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: black;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
    
  }

  

  .container {
    display: flex;
  }
  
  /* About Me */
  
  .aboutme {
    display: flex;
    align-items: center;
  }
  
  #aboutme h1 {
    font-size: 50px;
    margin-top: 90px;
    color: black;
    
  }

  #aboutme p {
    font-size: 25px;
    color: rgb(126, 125, 125);
    margin-top: -0.5cm;
    
  }
  
  .profile_img {
    border: 5px solid black;
    border-radius: 2cm;
    width: 360px;
    height: fit-content;
    vertical-align: middle;
    margin: 40px;
  

  }

  #skills{
    margin-top:50px;
  }

  .all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  .skill {
    border: 2px solid gray;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 4);
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
  }

  
.skill img {
    height: 70px;
    align-items: center;
  }
  
  .skills h6 {
    align-items: center;
    font-size: 70px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
  } 
  
  

  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .projects{
    margin-top:50px;
  }

  .projects-container {
    margin-top: 30px;
    margin-left: 60px;
  }
  
  .projects-container hr {
    border: 1px solid black;
    width: 90%;
    margin-left: 2cm;
  }
  
  .project-card {
    margin: 0 15px 15px 30px;
    padding-bottom: 5px;
  }
  
  .project-card h3 {
    font-size: 25px;
    margin-left: 30px;
  }
  
  .project-card li {
    font-size: 20px;
    margin-left: 30px;
  }

  .iconbutton{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
  }
  

